USE [ORDERDB]
GO
/****** Object:  Table [dbo].[SAN_PHAM_CHI_TIET]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM_CHI_TIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SAN_PHAM] [int] NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](255) NULL,
	[LOAI_BIA] [nvarchar](255) NULL,
	[LOAI_GIAY] [nvarchar](255) NULL,
	[SIZE] [nvarchar](15) NULL,
	[DON_GIA] [decimal](18, 0) NULL,
	[DESCRIPTION] [ntext] NULL,
	[NUM_PAGE_DEFAULT] [int] NULL,
	[ADDITIONAL_PAGES_COST] [decimal](18, 0) NULL,
 CONSTRAINT [PK_SAN_PHAM_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM_CHI_TIET] ON
INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [ID_SAN_PHAM], [TEN_SAN_PHAM], [LOAI_BIA], [LOAI_GIAY], [SIZE], [DON_GIA], [DESCRIPTION], [NUM_PAGE_DEFAULT], [ADDITIONAL_PAGES_COST]) VALUES (1, 1, N'xxxxxxxx', N'Loại Bìa', N'Loại Giấy', N'20x20', CAST(50000 AS Decimal(18, 0)), N'', 10, CAST(5000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[SAN_PHAM_CHI_TIET] OFF
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[id] [int] IDENTITY(1000,1) NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](150) NOT NULL,
	[NOTES] [text] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON
INSERT [dbo].[SAN_PHAM] ([id], [TEN_SAN_PHAM], [NOTES]) VALUES (1000, N'ABC', NULL)
INSERT [dbo].[SAN_PHAM] ([id], [TEN_SAN_PHAM], [NOTES]) VALUES (1001, N'DEF', NULL)
INSERT [dbo].[SAN_PHAM] ([id], [TEN_SAN_PHAM], [NOTES]) VALUES (2001, N'GHH', NULL)
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
/****** Object:  Table [dbo].[LIEN_HE]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIEN_HE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](150) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[ID_KHACH_HANG] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KHACH_HANG] [nvarchar](10) NULL,
	[TEN_KHACH_HANG] [nvarchar](150) NOT NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[ACC_FTP] [nvarchar](150) NULL,
	[GIAM_GIA] [nvarchar](255) NULL,
	[TEN_SALES] [nvarchar](255) NULL,
	[HOA_HONG_SALES] [decimal](18, 0) NULL,
	[GHI_CHU] [ntext] NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[VAN_CHUYEN] [nvarchar](255) NULL,
	[TRANG_THAI] [bit] NULL,
	[CREATE_BY] [nvarchar](150) NULL,
	[CREATE_TIME] [datetime] NULL,
	[UPDATE_BY] [nvarchar](150) NULL,
	[UPDATE_TIME] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON
INSERT [dbo].[KHACH_HANG] ([ID], [ID_KHACH_HANG], [TEN_KHACH_HANG], [DIA_CHI], [EMAIL], [ACC_FTP], [GIAM_GIA], [TEN_SALES], [HOA_HONG_SALES], [GHI_CHU], [NGAY_BAT_DAU], [VAN_CHUYEN], [TRANG_THAI], [CREATE_BY], [CREATE_TIME], [UPDATE_BY], [UPDATE_TIME]) VALUES (1, N'A0001', N'Lê Văn Bình', N'địa chỉ', N'email', N'ftp', N'20', N'saless', CAST(10 AS Decimal(18, 0)), N'xxxxx', CAST(0xA23C0B00 AS Date), N'nô', 0, N'BINH', CAST(0x0000A74700FBAC68 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
/****** Object:  Table [dbo].[DON_DAT_HANG_SP]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG_SP](
	[Id] [int] IDENTITY(1,1000) NOT NULL,
	[ID_DON_DAT_HANG] [nvarchar](10) NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](300) NULL,
	[KICH_THUOC] [nvarchar](50) NULL,
	[DON_VI] [nvarchar](10) NULL,
	[SO_TRANG] [int] NULL,
	[LOAI_BIA] [nvarchar](50) NULL,
	[LOAI_GIAY] [nvarchar](50) NULL,
	[DON_GIA] [decimal](18, 0) NULL,
	[SO_LUONG] [int] NULL,
	[CHIET_KHAU] [decimal](18, 0) NULL,
	[THANH_TIEN] [decimal](18, 0) NULL,
	[CD_CR] [nvarchar](300) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_TIME] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_TIME] [datetime] NULL,
 CONSTRAINT [PK_DON_DAT_HANG_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG_SP] ON
INSERT [dbo].[DON_DAT_HANG_SP] ([Id], [ID_DON_DAT_HANG], [TEN_SAN_PHAM], [KICH_THUOC], [DON_VI], [SO_TRANG], [LOAI_BIA], [LOAI_GIAY], [DON_GIA], [SO_LUONG], [CHIET_KHAU], [THANH_TIEN], [CD_CR], [CREATE_BY], [CREATE_TIME], [UPDATE_BY], [UPDATE_TIME]) VALUES (1, N'SX03170001', N'ABC', N'20x20', N'', 12, N'Loại Bìa', N'', CAST(0 AS Decimal(18, 0)), 0, NULL, CAST(60000 AS Decimal(18, 0)), N'', N'', CAST(0x0000A74700FC0736 AS DateTime), NULL, NULL)
INSERT [dbo].[DON_DAT_HANG_SP] ([Id], [ID_DON_DAT_HANG], [TEN_SAN_PHAM], [KICH_THUOC], [DON_VI], [SO_TRANG], [LOAI_BIA], [LOAI_GIAY], [DON_GIA], [SO_LUONG], [CHIET_KHAU], [THANH_TIEN], [CD_CR], [CREATE_BY], [CREATE_TIME], [UPDATE_BY], [UPDATE_TIME]) VALUES (2, N'SX03170001', N'ABC', N'20x20', N'', 12, N'Loại Bìa', N'', CAST(0 AS Decimal(18, 0)), 0, NULL, CAST(60000 AS Decimal(18, 0)), N'', N'', CAST(0x0000A74700FC0B37 AS DateTime), NULL, NULL)
INSERT [dbo].[DON_DAT_HANG_SP] ([Id], [ID_DON_DAT_HANG], [TEN_SAN_PHAM], [KICH_THUOC], [DON_VI], [SO_TRANG], [LOAI_BIA], [LOAI_GIAY], [DON_GIA], [SO_LUONG], [CHIET_KHAU], [THANH_TIEN], [CD_CR], [CREATE_BY], [CREATE_TIME], [UPDATE_BY], [UPDATE_TIME]) VALUES (3, N'SX03170001', N'ABC', N'20x20', N'', 12, N'Loại Bìa', N'', CAST(0 AS Decimal(18, 0)), 0, NULL, CAST(60000 AS Decimal(18, 0)), N'', N'', CAST(0x0000A74700FC0D06 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG_SP] OFF
/****** Object:  Table [dbo].[DON_DAT_HANG_DICH_VU]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG_DICH_VU](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ID_DON_DAT_HANG] [nchar](10) NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](150) NULL,
	[MO_TA] [nvarchar](300) NULL,
	[DON_GIA] [decimal](18, 0) NULL,
	[THANH_TIEN] [decimal](18, 0) NULL,
	[SO_LUONG] [decimal](18, 0) NULL,
	[CREATE_BY] [nvarchar](150) NULL,
	[CREATE_TIME] [datetime] NULL,
	[UPDATE_BY] [nvarchar](150) NULL,
	[UPDATE_TIME] [datetime] NULL,
 CONSTRAINT [PK_DON_DAT_HANG_OTHER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 03/31/2017 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[ID] [nvarchar](10) NOT NULL,
	[ID_KHACH_HANG] [nvarchar](10) NULL,
	[NGAY_DAT] [date] NULL,
	[NGAY_GIAO] [date] NULL,
	[TRANG_THAI_THANH_TOAN] [bit] NULL,
	[TONG_CONG] [decimal](18, 0) NULL,
	[VAT] [decimal](18, 0) NULL,
	[TONG_TIEN] [decimal](18, 0) NULL,
	[PHI_VAN_CHUYEN] [decimal](18, 0) NULL,
	[NOTES] [nchar](10) NULL,
	[SDT] [nvarchar](50) NULL,
	[CREATE_BY] [nvarchar](150) NULL,
	[CREATE_TIME] [datetime] NULL,
	[UPDATE_BY] [nvarchar](150) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[TRANG_THAI_XUAT_KHO] [bit] NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DON_DAT_HANG] ([ID], [ID_KHACH_HANG], [NGAY_DAT], [NGAY_GIAO], [TRANG_THAI_THANH_TOAN], [TONG_CONG], [VAT], [TONG_TIEN], [PHI_VAN_CHUYEN], [NOTES], [SDT], [CREATE_BY], [CREATE_TIME], [UPDATE_BY], [UPDATE_TIME], [TRANG_THAI_XUAT_KHO]) VALUES (N'SX03170001', N'A0001', NULL, CAST(0xA53C0B00 AS Date), NULL, CAST(180000 AS Decimal(18, 0)), CAST(18000 AS Decimal(18, 0)), CAST(198000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'          ', N'', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DON_DAT_HANG] ([ID], [ID_KHACH_HANG], [NGAY_DAT], [NGAY_GIAO], [TRANG_THAI_THANH_TOAN], [TONG_CONG], [VAT], [TONG_TIEN], [PHI_VAN_CHUYEN], [NOTES], [SDT], [CREATE_BY], [CREATE_TIME], [UPDATE_BY], [UPDATE_TIME], [TRANG_THAI_XUAT_KHO]) VALUES (N'SX03170002', N'A0001', NULL, CAST(0xA53C0B00 AS Date), NULL, CAST(55000 AS Decimal(18, 0)), CAST(5500 AS Decimal(18, 0)), CAST(60500 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'          ', N'', NULL, NULL, NULL, NULL, NULL)
